# You must first activate a Billing Account here: https://platform.openai.com/account/billing/overview
# Then get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY="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å"

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET="3c40e73491c0e1a7e7f1d4b73759592f"

# Instructions to create kv database here: https://vercel.com/docs/storage/vercel-kv/quickstart and 
KV_URL="redis://default:9c27cc7b6a2f40a8949507d236f29f82@capable-zebra-43834.upstash.io:43834"
KV_REST_API_URL="https://capable-zebra-43834.upstash.io"
KV_REST_API_TOKEN="Aas6ASQgMDEzNzcwN2ItNWZjMC00YmNkLTg0NTMtOTBkYWUyNTdmYTE0OWMyN2NjN2I2YTJmNDBhODk0OTUwN2QyMzZmMjlmODI="
KV_REST_API_READ_ONLY_TOKEN="Aqs6ASQgMDEzNzcwN2ItNWZjMC00YmNkLTg0NTMtOTBkYWUyNTdmYTE0lfOch2xdioDZWg-XS4X1r6fDLo-PTALVBnyjJuCp4_Y="
